.contactFormWrapper
{ 
    background-color: #282727; 
    position: relative;
}

.contactFormHeading
 {
    color: #A8344A;
    z-index: 10;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 20px;
    ;}

.contactFormparagh
{ 
    color: #000; font-family: 'Josefin Sans', sans-serif;
}

.inputFormControl 
    
    {
        padding: 13px 20px;

    }

.btnContactFormBtn 
{
    color: #fff;
    padding: 12px 0;
    font-size: 25px;
    background: rgb(60,44,44);
    background: linear-gradient(127deg, rgba(60,44,44,1) 0%,
     rgba(168,52,74,1) 100%);
    font-family: 'Josefin Sans', sans-serif;
}
.spanErrorNoteText {
    font-size: 12px;
}
.formControl
{ 
    background-color: #ffffff;
}